<template>
  <div>
    <h1>À propos</h1>
    <p>Cette page affiche le statut TLS des services Framasoft</p>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class Home extends Vue {}
</script>

