<template>
  <div>
    <div class="stats">
      <h1>Stats</h1>
      <p>Nous avons {{ aplus }} sites sur {{ data.length }} avec une note de A+, soit environ {{ Math.round(aplus * 100 / data.length) }}%.</p>
    </div>
    <b-table
      :data="data"
      :stripped="true"
      :loading="loading"
    >
      <template slot-scope="props">
        <b-table-column field="website" label="Site web">
            {{ props.row.website }}
        </b-table-column>

        <b-table-column field="note" label="Note" :class="`colors ` + props.row.note.charAt(0).toLowerCase()">
            {{ props.row.note }}
        </b-table-column>
      </template>
    </b-table>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Entry } from '../types';

@Component({
  computed: {
    aplus(): number {
      return this.$data.data.filter((entry: Entry) => entry.note === 'A+').length;
      },
  },
})
export default class Home extends Vue {
  private data: Entry[] = [];
  private loading: boolean = true;


  public async created() {
    const data = await (await fetch('result.json')).json();
    this.data = Object.entries(data).map(([key, value]) => {
      return {website: key, note: value.toString()};
    });
    this.loading = false;
  }
}
</script>

<style lang="scss">
$background-a: #5cb85c;
$background-b: #8db457;
$background-c: #8db457;
$background-d: #777777;
$background-e: #f0ad4e;
$background-f: #e4804e;
$background-g: #d9534f;
$background-o: #000;
$color-dark: #333333;
$color-light: #fff;

.colors {

  background-color: $background-o;
  color: $color-light;

  &.a {
    background-color: $background-a;
    color: $color-light;
  }

  &.b {
    background-color: $background-b;
    color: $color-light;
  }

  &.c {
    background-color: $background-c;
    color: $color-dark;
  }

  &.d {
    background-color: $background-d;
    color: $color-light;
  }

  &.e {
    background-color: $background-e;
    color: $color-dark;
  }

  &.f {
    background-color: $background-f;
    color: $color-light;
  }

  &.g {
    background-color: $background-g;
    color: $color-light;
  }
}
</style>
